# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
*.env

# Large data directories (generowane przy pierwszym uruchomieniu)
data/
offline-db/

# OS specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/